$main-font: 'Yanone Kaffeesatz',
sans-serif;
$new-white: rgb(248, 246, 234);
$text-margin: 10px;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    box-sizing: border-box;
    #root {
        height: 100%;

        .page-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: inline;
            perspective: 1000px;
            .card-container {
                height: 350px;
                margin: 0;
                padding: 0;
                top: 20px;
                width: 330px;
                margin-left: 1%;
                margin-bottom: 1%;
                float: left;
                position: relative;
                transform-style: preserve-3d;
                box-sizing: border-box;
                &.flipped {
                    .front {
                        transform: rotateY(180deg);
                    }
                    .back {
                        transform: rotateY(0deg);
                    }
                }
                .front,
                .back {
                    justify-content: center;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    display: block;
                    background: $new-white;
                    box-shadow: 10px 10px 5px rgb(95, 77, 99);
                    padding: 10px;
                    position: absolute;
                    border-radius: 10px;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    transition: -webkit-transform ease 500ms;
                    transition: transform ease 500ms;
                }
                .front {
                    z-index: 2;
                    transform: rotateY(0deg);
                    /* front tile styles go here! */
                }
                .back {
                    background: $new-white;
                    transform: rotateY(-180deg);
                    padding: 20px;
                    font-size: 20px;
                    /* back tile styles go here! */
                    .newsButton {
                        border-radius: 12px;
                        border-color: $new-white;
                        position: absolute;
                        bottom: 45px;
                        left: 105px;
                        background-color: #1876d1;
                        color: white;
                        padding: 10px;
                    }
                }
                .image-container {
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .card-image {
                        width: 75%;
                        height: 75%;
                        min-height: 263px;
                        border-radius: 10px;
                    }
                    .title {
                        font-size: 20px;
                        position: absolute;
                        bottom: -12px;
                        color: $new-white;
                        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                        
                    }
                }
            }
        }
        footer {
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 20px;

        }
    }
}